* {
  margin: 0;
  padding: 0;
  font-family: 'TT Norms';
  font-weight: 500;
  outline: none;
  box-sizing: border-box;
}
.container {
  max-width: 1285px;
  padding: 0 30px;
  margin: 0 auto;
}
.hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/hero_bg.jpg);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
.hero * {
  color: white;
}
.header {
  padding: 50px 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__btn {
  text-transform: uppercase;
  padding: 24px;
  background: none;
  border: 2px solid white;
  border-radius: 100px;
  width: 200px;
  cursor: pointer;
  margin-left: auto;
  font-size: 14px;
  margin-right: 146px;
}
.header__btn:hover {
  background-color: #466FFF;
  border-color: #466FFF;
}
.header__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 53px;
}
.header__menu:hover .header__menu__hamburger__line {
  background-color: #466FFF;
}
.header__menu__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}
.header__menu__hamburger {
  width: 49px;
  height: 27px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header__menu__hamburger__line {
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.hero__content .btn {
  margin-top: 60px;
}
.hero__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
}
.btn {
  padding: 22px 52px;
  background-color: #466FFF;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3455CC;
}
.sec1__title {
  font-size: 134px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.045em;
  margin-top: -129px;
}
.sec1__title span {
  font-weight: 800;
  color: white;
}
.sec1__title__wrapper {
  position: relative;
}
.sec1__about__brand {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sec1__textblock {
  margin-top: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}
.sec1__textblock__title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
}
.sec1__textblock__desc {
  margin-left: 155px;
  width: 478px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.sec2 {
  margin-top: 100px;
}
.sec2__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 100px;
}
.sec2__item {
  display: grid;
  grid-template-columns: 1fr 600px;
  grid-gap: 60px;
  -webkit-box-align: center;
          align-items: center;
}
.sec2__item__img {
  height: 840px;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sec2__item__scores {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.sec2__item__scores__title {
  font-size: 18px;
  font-weight: 800;
}
.sec2__item__scores__icon {
  margin-left: 15px;
}
.sec2__item__text__line {
  width: 2px;
  height: 70px;
  background-color: black;
  margin-top: 27px;
}
.sec2__item__text__title {
  margin-top: 32px;
  font-weight: 800;
  font-size: 54px;
  line-height: 64px;
  /* identical to box height */
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.sec2__item__text__desc {
  margin-top: 60px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
}
.sec2__item__text__btnblock {
  margin-top: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.sec2__item__text__btnblock .btn {
  margin-right: 75px;
  width: 200px;
}
.linkbtn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: none;
  position: relative;
}
.linkbtn:hover {
  color: #466FFF;
}
.linkbtn:hover:before {
  background-color: #466FFF;
}
.linkbtn:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: black;
}
.sec2__item__text__logos {
  margin-top: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.sec2__item__text__logos img {
  margin-right: 50px;
  margin-bottom: 30px;
}
.sec3 {
  margin-top: 100px;
}
.sec3__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  background-color: black;
}
.sec3__item {
  padding: 50px 60px;
  background-color: white;
}
.sec3__item__title {
  font-family: Gatwick;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 77px;
  /* identical to box height */
  letter-spacing: -0.005em;
}
.sec3__item__desc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.sec4 {
  margin-top: 246px;
  position: relative;
}
.sec4 * {
  position: relative;
}
.sec4__circle {
  width: 1237px;
  height: 1237px;
  border-radius: 100%;
  background-color: #61D57B;
  position: absolute;
  top: -170px;
  left: -30%;
}
.sec4__icon {
  position: absolute;
  right: 0;
  top: -100px;
}
.sec4__title {
  font-size: 54px;
  line-height: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}
.sec4__list {
  margin-left: 100px;
  margin-top: 70px;
}
.sec4__list__item__desc {
  font-size: 22px;
  font-weight: 700;
}
.sec4__list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 25px 0;
  border-top: 2px solid black;
}
.sec4__list__item:last-child {
  border-bottom: 2px solid black;
}
.sec4__list__item__number {
  color: white;
  font-weight: 900;
  font-size: 36px;
  font-family: Gatwick;
  margin-right: 50px;
}
.sec5 {
  margin-top: 256px;
}
.sec5 .btn__border {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}
.sec5__head {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
}
.sec5__title {
  font-weight: 800;
  font-size: 104px;
  line-height: 110.52%;
  /* or 115px */
  letter-spacing: -0.045em;
  text-transform: uppercase;
  margin-right: 116px;
}
.sec5__desc {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}
.sec5__desc span {
  font-weight: 700;
}
.sec5__items {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.sec5__item:hover .sec5__item__footer {
  background-color: #466FFF;
  border-color: #466FFF;
}
.sec5__item__content {
  padding: 30px;
  position: relative;
  border: 2px solid black;
  border-bottom: none;
}
.sec5__item__footer {
  padding: 25px 30px;
  background-color: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  border: 2px solid black;
  text-decoration: none;
}
.sec5__item__footer * {
  color: white;
}
.sec5__item__footer__arrow {
  margin-left: auto;
}
.sec5__item__avatar {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sec5__item__title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 60px;
}
.sec5__item__desc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 10px;
}
.sec5__item__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
}
.sec5__item__price {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}
.sec5__item__price__old {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-decoration: line-through;
  margin-left: 20px;
}
.sec5__item__content__label {
  position: absolute;
  right: 30px;
  top: 30px;
}
.btn__border {
  padding: 20px 40px;
  font-weight: 500;
  font-size: 18px;
  background: none;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}
.btn__border.orange {
  border-color: #FFD7D2;
}
.btn__border:hover {
  background-color: #466FFF;
  border-color: #466FFF;
  color: white;
}
.sec6 {
  margin-top: 120px;
}
.sec6 .container {
  border-bottom: 2px solid black;
  padding-bottom: 34px;
}
.sec6 .btn__border {
  margin: 0 auto;
  display: block;
  margin-top: 35px;
}
.sec6__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}
.sec6__experts {
  margin-top: 110px;
  position: relative;
}
.sec6__experts__label {
  position: absolute;
  top: -20px;
  right: 0;
}
.sec6__experts__title {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 700;
}
.sec6__experts__title sup {
  font-weight: 700;
  font-size: 22px;
}
.sec6__experts__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 70px;
}
.sec6__experts__item__img {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sec6__experts__item__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
}
.sec6__experts__item__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 23px;
}
.sec7 {
  margin-top: 93px;
  padding-bottom: 66px;
}
.sec7__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}
.sec7__content {
  margin-top: 70px;
  display: -webkit-box;
  display: flex;
}
.sec7__content__left__links {
  margin-top: 55px;
}
.sec7__content__left__link {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  padding: 15px 0;
}
.sec7__content__left__link:hover {
  color: #466FFF;
}
.sec7__content__left__link.active {
  color: #466FFF;
}
.sec7__content__right {
  padding-left: 170px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
.sec7__content__right__message {
  padding: 20px 40px;
  background-color: black;
  border-radius: 20px;
  width: 392px;
  position: relative;
}
.sec7__content__right__message:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background-image: url(../img/message-black.svg);
}
.sec7__content__right__message.pink {
  background-color: #BEAAE9;
  margin-top: 40px;
  margin-left: 300px;
}
.sec7__content__right__message.pink:before {
  background-image: url(../img/message-pink.svg);
  right: 0;
  bottom: 0;
  left: auto;
}
.sec7__content__right__message__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: white;
}
.sec7__content__right__avatar {
  width: 136px;
  height: 136px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/sec7__content__right__avatar.jpg);
  box-shadow: 10px 9px 34px rgba(0, 0, 0, 0.15);
  float: right;
}
.footer {
  background-color: black;
  padding: 48px 0;
}
.footer * {
  color: white;
}
.footer__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.footer__top__nav {
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 150px;
          column-gap: 150px;
}
.footer__top__nav li {
  font-size: 18px;
  font-style: normal;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__top__nav a {
  text-decoration: none;
  font-weight: 400;
}
.footer__top__contacts__phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 29.1352px;
  display: block;
  text-align: right;
}
.footer__top__contacts__mail {
  margin-top: 22px;
  text-decoration: none;
  text-align: right;
  display: block;
  font-size: 24px;
  font-weight: 300;
}
.footer__center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
}
.footer__center__pays {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.footer__center__pay {
  margin-right: 40px;
}
.footer__center__socials {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.footer__center__social {
  text-decoration: none;
  margin-left: 34px;
}
.footer__bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
}
.footer__bottom__copyright {
  font-size: 14px;
  font-weight: 400;
}
