{% set title = 'Главная страница' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!--=================================== hero ======================================-->
<div class="hero">
	<div class="header">
		<a href="" class="header__logo">
			<img src="img/logo.svg" alt="">
		</a>
		<button class="header__btn">Войти</button>
		<div class="header__menu">
			<div class="header__menu__title">Меню</div>
			<div class="header__menu__hamburger">
				<div class="header__menu__hamburger__line"></div>
				<div class="header__menu__hamburger__line"></div>
			</div>
		</div>
	</div>
	<div class="hero__content">
		<div class="container">
			<h1 class="hero__title">Достигай <br> совершенства <br> вместе с нами</h1>
			<button class="btn">Записаться</button>
		</div>
	</div>
</div>
<!--===================================END hero ===================================-->
<!--=================================== sec1 ===================================-->
<div class="sec1">
	<div class="container">
		<div class="sec1__title__wrapper">
			<h2 class="sec1__title"><span>Онлайн-школа</span> <br>от академии <br>научной <br>красоты</h2>
			<a href="" class="sec1__about__brand">
				<img src="img/about_brand.svg" alt="">
			</a>
		</div>
		<div class="sec1__textblock">
			<div class="sec1__textblock__title">Наши курсы</div>
			<div class="sec1__textblock__desc">Пройдите онлайн-обучение в учебном центре крупнейшей косметологической корпорации России. Наша компания – это самые авторитетные международные бренды, оборудование высочайшего качества и доверие десятков тысяч клиентов. Мы готовы делиться опытом!</div>
		</div>
	</div>
</div>
<!--===================================END sec1 ===================================-->
<!--=================================== sec2 ===================================-->
<div class="sec2">
	<div class="container">
		<div class="sec2__items">
			<!-- sec2__item -->
			<div class="sec2__item">
				<div class="sec2__item__text">
					<div class="sec2__item__scores">
						<div class="sec2__item__scores__title">от 6 баллов</div>
						<img src="img/i.svg" alt="" class="sec2__item__scores__icon">
					</div>
					<div class="sec2__item__text__line"></div>
					<div class="sec2__item__text__title">Косметология</div>
					<div class="sec2__item__text__desc">Обучение самым востребованным методикам по работе с мировыми брендами и собственным разработкам Академии по уходу за кожей.</div>
					<div class="sec2__item__text__btnblock">
						<button class="btn">Купить +</button>
						<a href="" class="linkbtn">Подробнее</a>
					</div>
					<div class="sec2__item__text__logos">
						<img src="img/brand-1.svg" alt="">
						<img src="img/brand-2.svg" alt="">
					</div>
				</div>
				<div class="sec2__item__img" style="background-image: url(img/product-1.jpg);"></div>
			</div>
			<!--END sec2__item -->
			<!-- sec2__item -->
			<div class="sec2__item">
				<div class="sec2__item__text">
					<div class="sec2__item__scores">
						<div class="sec2__item__scores__title">от 6 баллов</div>
						<img src="img/i.svg" alt="" class="sec2__item__scores__icon">
					</div>
					<div class="sec2__item__text__line"></div>
					<div class="sec2__item__text__title">Мезотерапия</div>
					<div class="sec2__item__text__desc">Обучение самым востребованным методикам по работе с мировыми брендами и собственным разработкам Академии по уходу за кожей.</div>
					<div class="sec2__item__text__btnblock">
						<button class="btn">Купить +</button>
						<a href="" class="linkbtn">Подробнее</a>
					</div>
					<div class="sec2__item__text__logos">
						<img src="img/brand-3.svg" alt="">
						<img src="img/brand-4.svg" alt="">
						<img src="img/brand-5.svg" alt="">
					</div>
				</div>
				<div class="sec2__item__img" style="background-image: url(img/product-2.jpg);"></div>
			</div>
			<!--END sec2__item -->
			<!-- sec2__item -->
			<div class="sec2__item">
				<div class="sec2__item__text">
					<div class="sec2__item__scores">
						<div class="sec2__item__scores__title">от 6 баллов</div>
						<img src="img/i.svg" alt="" class="sec2__item__scores__icon">
					</div>
					<div class="sec2__item__text__line"></div>
					<div class="sec2__item__text__title">АППАРАТНАЯ ТЕРАПИЯ</div>
					<div class="sec2__item__text__desc">Обучение самым востребованным методикам по работе с мировыми брендами и собственным разработкам Академии по уходу за кожей.</div>
					<div class="sec2__item__text__btnblock">
						<button class="btn">Купить +</button>
						<a href="" class="linkbtn">Подробнее</a>
					</div>
					<div class="sec2__item__text__logos">
						<img src="img/brand-6.svg" alt="">
						<img src="img/brand-7.svg" alt="">
					</div>
				</div>
				<div class="sec2__item__img" style="background-image: url(img/product-3.jpg);"></div>
			</div>
			<!--END sec2__item -->
		</div>
	</div>
</div>	
<!--===================================END sec2 ===================================-->
<!--=================================== sec3 ===================================-->
<div class="sec3">
	<div class="container">
		<div class="sec3__items">
			<!-- sec3__item -->
			<div class="sec3__item">
				<div class="sec3__item__title">130</div>
				<div class="sec3__item__desc">лет успеха, развития и исследований</div>
			</div>
			<!--END sec3__item -->
			<!-- sec3__item -->
			<div class="sec3__item">
				<div class="sec3__item__title">16500</div>
				<div class="sec3__item__desc">специалистов обучено за 20 лет</div>
			</div>
			<!--END sec3__item -->
			<!-- sec3__item -->
			<div class="sec3__item">
				<div class="sec3__item__title">26</div>
				<div class="sec3__item__desc">лет успешной работы в России</div>
			</div>
			<!--END sec3__item -->
			<!-- sec3__item -->
			<div class="sec3__item">
				<div class="sec3__item__title">2000</div>
				<div class="sec3__item__desc">центров косметологии по всему миру выбирают нашу продукцию</div>
			</div>
			<!--END sec3__item -->
			<!-- sec3__item -->
			<div class="sec3__item">
				<div class="sec3__item__title">50+</div>
				<div class="sec3__item__desc">преподавателей-экспертов с международным опытом</div>
			</div>
			<!--END sec3__item -->
			<!-- sec3__item -->
			<div class="sec3__item">
				<div class="sec3__item__title">19</div>
				<div class="sec3__item__desc">представительств по всей России и СНГ</div>
			</div>
			<!--END sec3__item -->
		</div>
	</div>
</div>
<!--===================================END sec3 ===================================-->
<!--=================================== sec4 ===================================-->
<div class="sec4">
	<div class="container">
		<div class="sec4__circle"></div>
		<img src="img/sec4-icon.svg" alt="" class="sec4__icon">
		<h2 class="sec4__title">что вы получите <br>На курсах:</h2>
		<div class="sec4__list">
			<!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">01</div>
				<div class="sec4__list__item__desc">обучение инновационным сертифицированным методикам в собственных образовательных центрах </div>
			</div>
			<!--END sec4__list__item -->
			<!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">02</div>
				<div class="sec4__list__item__desc">знания от экспертов с международным опытом</div>
			</div>
			<!--END sec4__list__item -->
			<!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">03</div>
				<div class="sec4__list__item__desc">самые перспективные направления в индустрии: эстетическая и аппаратная косметология и мезотерапия</div>
			</div>
			<!--END sec4__list__item -->
			<!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">04</div>
				<div class="sec4__list__item__desc">эффективные авторские методики с использованием новейших исследований и разработок Академии</div>
			</div>
			<!--END sec4__list__item --><!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">05</div>
				<div class="sec4__list__item__desc">только у нас — практика работы на самом передовом оборудованием и премиальными брендами
 Франции, Италии, Кореи, США и Испании</div>
			</div>
			<!--END sec4__list__item -->
			<!--END sec4__list__item --><!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">06</div>
				<div class="sec4__list__item__desc">начисление баллов НМО – от 6 баллов за курс 
</div>
			</div>
			<!--END sec4__list__item -->
			<!--END sec4__list__item --><!-- sec4__list__item -->
			<div class="sec4__list__item">
				<div class="sec4__list__item__number">07</div>
				<div class="sec4__list__item__desc">профессиональный сертификат о повышении квалификации, подтверждающий обучение методикам и работе на оборудовании международных брендов</div>
			</div>
			<!--END sec4__list__item -->
		</div>
	</div>
</div>
<!--===================================END sec4 ===================================-->
<!--=================================== sec5 ===================================-->
<div class="sec5">
	<div class="container">
		<div class="sec5__head">
			<h2 class="sec5__title">Успей <br>купить</h2>
			<div class="sec5__desc">При покупке любого онлайн-курса Академии в период от 
30 до 20 дней до даты его начала  – <span>стоимость ниже на 15%.</span>  Сделайте вклад в свое обучение заранее и по лучшей цене.</div>
		</div>
		<div class="sec5__items">
			<!-- sec5__item -->
			<div class="sec5__item">
				<div class="sec5__item__content">
					<div class="sec5__item__avatar" style="background-image: url();"></div>
					<div class="sec5__item__title">Дермотония</div>
					<div class="sec5__item__desc">3 сент — 27 нояб     /     3 урока</div>
					<div class="sec5__item__text">Методика «Dermotonie» — вакуумно-шариковый массаж для лечения кожи</div>
				</div>
				<div class="sec5__item__footer">
					<div class="sec5__item__price">27 000 ₽</div>
					<img src="img/arrow.svg" alt="">
				</div>
			</div>
			<!--END sec5__item -->
		</div>
	</div>
</div>
<!--===================================END sec5 ===================================-->


{% endblock %}
